html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.home-styling{
    background-image: url("../images/homepage-pic.png");
    background-position:center bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.content-styling{
    margin-top: 7%;
    margin-right: 10%;
    margin-left: 10%;
}

/* fade in and out for showcasing answer to question*/
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
