<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Edit</title>

        <!-- Vue, Axios, Babel and JS reference -->
        <script src="https://unpkg.com/vue@next"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
        <script src="#" th:src="@{/js/data-table.js}" defer></script>

        <!-- CSS -->
        <link rel="stylesheet" href="css/styles.css">
        <link rel="icon" href="https://img.icons8.com/metro/50/000000/the-flash-sign.png" type="image/icon type">
    </head>
    <body class="home-styling">
        <div th:replace="~{layout ::navbar}" xmlns:th="http://www.w3.org/1999/xhtml"></div>
        <div class="content-styling">
            <div id="data-table-component">
                <data-table></data-table>
            </div>
        </div>
    </body>
</html>