<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="icon" href="https://img.icons8.com/metro/50/000000/the-flash-sign.png" type="image/icon type">
        <!-- Font style-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
        <title>Home</title>
    </head>
    <body class="home-styling">
        <div th:replace="~{layout ::navbar}" xmlns:th="http://www.w3.org/1999/xhtml"></div>
            <div class="content-styling">
                <h1 style="font-family: Graphik Black,Arial Black,Sans-Serif; font-size: 60px">Welcome Back <span style="color:#facb33" th:if="${name}" th:text="${name}"></span></h1>
                <h2>Good to see you here. It is time to sharpen your knowledge!</h2>
                <div>
                    <!--Text und Bild nebeneinander schalten https://stackoverflow.com/questions/17219757/how-to-place-text-and-an-image-next-to-each-other-in-html-->
                    <p style="font-size: x-large; float:left; margin-top: 4%; font-style: italic">Add your study card in the <a th:href="@{/edit}" th:classappend="${#request.requestURI == '/edit' ? 'active':''}"><strong>Edit</strong></a> Tab and
                    start your study session by clicking <a th:href="@{/study}" th:classappend="${#request.requestURI == '/study' ? 'active':''}"><strong>Study</strong></a>.<br>
                    You can click the Button 'Answer' on your card to see the right answer.<br>
                    But check the answer once you are done with your card to reassure yourself.<br>
                    Repeat the cards as often as possible until you feel confident.<br><br>
                    Good luck!</p>
                    <img src="images/welcome.png" style="float:right; padding-right: 12%"/>
                </div>
            </div>
    </body>
</html>